<div style="position:relative;">
    <apitools-loader Fullsize="true" *ngIf="IsSubmitting"></apitools-loader>
    <form [formGroup]="form">
        <apitools-message [type]="MessageType" [message]="Message"></apitools-message>
        <img *ngIf="logo" [src]="logo" />
        <h1 i18n="register|Creating a new account">Register</h1>
        <div class="form-field">
            <i class="material-icons">account_circle</i>
            <input type="text" placeholder="Username" i18n-placeholder="username|Identification username" formControlName="username"
                    [ngClass]="{error: Username.errors}" />
        </div>
        <div class="form-field">
            <i class="material-icons">email</i>
            <input type="email" placeholder="Email" i18n-placeholder="email|Email address" formControlName="email"
                    [ngClass]="{error: Email.errors}" />
        </div>
        <div class="form-field half">
            <i class="material-icons">person</i>
            <input type="text" placeholder="First name" i18n-placeholder="first_name|First name" formControlName="firstName"
                    [ngClass]="{error: FirstName.errors}" />
            <input type="text" placeholder="Last name" i18n-placeholder="last_name|Last name" formControlName="lastName"
                    [ngClass]="{error: LastName.errors}" />
        </div>
        <div class="form-field">
            <i class="material-icons">fingerprint</i>
            <input type="password" placeholder="Password" i18n-placeholder="password|Secure string to allow access" formControlName="password"
                    [ngClass]="{error: Password.errors}" />
        </div>
        <div class="form-field">
            <i class="material-icons">fingerprint</i>
            <input type="password" placeholder="Password (again)" i18n-placeholder="password_again|Secure string to allow access (again)" formControlName="rePassword"
                    [ngClass]="{error: RePassword.errors}" />
        </div>
        <div class="form-button">
            <button [disabled]="!form.valid || IsSubmitting" (click)="Submit()" i18n="register|Creating a new account">Register</button>
        </div>
        <div class="form-links">
            <a *ngIf="loginRoute" [routerLink]="loginRoute" i18n="login|Logging in into something">Login</a>
        </div>
    </form>
</div>