@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
form {
    padding:1.87em;

    h1 {
        font-size:2em;
        margin:.3em;
        text-align:center;
    }
    img {
        width:120px;
        margin:0 auto;
        display:block;
        padding:1em;
    }
}
.form-field, .form-button, .form-links {
    margin:.625em 0;
}
.form-field {
    position: relative;

    i {
        position: absolute;
        font-size: 1.37em;
        padding:.55em;
    }
    input {
        padding:1em;
        padding-left:3.223em;
        font-size:.9em;
        border:1px solid rgba(0,0,0,0);
        border-radius:2px;
        background-color:#ebeef2;
        width:calc(100% - 4.223em - 2px);

        &:focus {
            outline:none;
        }
    }

    &.half  {
        display:flex;
        justify-content: space-between;
        input {
            width:calc(50% - 2px - 3.424em);

            &:nth-child(3) {
                padding-left:1em;
            }
        }
    }
}
.form-button {
    input[type=button], input[type=submit], button {
        display:block;
        width:100%;
        padding:1em;
        font-size:.9em;
        border:0;
        background-color:#ff8a00;
        color:#FFF;

        &:disabled {
            cursor:no-drop;
            background-color:#ff880075;
        }
        &:focus {
            outline:0
        }
        &:not(:disabled):hover {
            cursor:pointer;
            background-color:#ce6e00;
        }
    }
}
.form-links {
    display:flex;
    justify-content: space-between;

    a {
        font-size:.92em;
        cursor:pointer;
        color:#008aff;
        text-decoration: none;

        &:hover {
            color:#0067c2;
        }
    }
}
input.ng-touched.ng-dirty.error {
    border:1px solid #F00;
}